
<style>
body{
margin: o;
padding: 0;
background: #313131;
}
.slider{
width: 800px;
height: 400px
background: url(image1.jpg);
margin: 100px auto;
animation: slide 20s infinite 
}
@keyframe slider{
25%{
background: url(images2.jpg);
}
50%{
background: url(image3.jpg);
}
75%{
background: url(image4.jpg);
}
100%{
background: url(image5.jpg);
}
}
</style>
